<div *ngFor="let team of teams">
  <div >
    <span> {{team.owner}} -  </span>
    <span >lowScore: {{team.lowScore}}</span>
    <span >highScore: {{team.highScore}}</span>
    <span >highScoreRank: {{team.highScoreRank}}</span>
    <span >lowScoreRank: {{team.lowScoreRank}}</span>
    <span >wins: {{team.wins}}</span>
    <span >losses: {{team.losses}}</span>
    <span >ties: {{team.ties}}</span>
    <span >leagueWins: {{team.leagueWins}}</span>
    <span >leagueLosses: {{team.leagueLosses}}</span>
    <span >leagueTies: {{team.leagueTies}}</span>
    <span >recordRank: {{team.recordRank}}</span>
    <span >leagueRecordRank: {{team.leagueRecordRank}}</span>
    <span >leagueRecordValue: {{team.leagueRecordValue}}</span>
  </div>
</div>